$black: #222222;

// Colors
$color-primary: #face03;
$color-secondary: #004aad;  // Neon blue
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);
$color-secondary-light: lighten($color-secondary, 10%);
$color-secondary-dark: darken($color-secondary, 10%);

