// Colors
$color-primary: #face03;
$color-secondary: #9c906e;
$color-tertiary: #76997c;

// Color variations
$color-primary-light: #fde03d;
$color-primary-dark: #e5b902;
$color-secondary-light: #b5aa88;
$color-secondary-dark: #827754;
$color-tertiary-light: #8fb396;
$color-tertiary-dark: #5d7f62;
