.iconPlaceholder {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #face03;
  opacity: 0.2;
  border-radius: 4px;
}

.icon {
  display: inline-block;
  line-height: 1;
  font-size: 2.5rem;
}
